<div style="margin-top: 2em;" class="alert alert-<%= flash[:alert_class] %>" role="alert">
  <% if flash[:now] %>
    <% if flash[:now].is_a?(Array) %>
      <% flash[:now].each do |message| %>
        <% truthy, str = message.split(':::') %>
        <% if truthy == 'true' %>
          <%= octicon "check", :height => 16, style: 'fill: #28a745;' %>
        <% else %>
          <%= octicon "x", :height => 16, style: 'fill: #721c24;' %>
        <% end %>
        <%= content_tag :span, str, style: (truthy == 'true' ? 'color: #155724;' : 'color: #721c24;') %>
        <br/>
      <% end %>
    <% else %>
      <%= flash[:now] %>
    <% end %>
  <% end %> 
</div>
