<!DOCTYPE html>
<html>
  <head>
    <title>PostcodeCheckerRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="container" style="margin-top: 2em;">
      <div class="row">
        <div class="col-lg-6 offset-1">
          <%= render partial: 'navigation' %>
          <div style="margin-top: 2em;">
            <% if flash[:now] %>
              <div class="alert alert-<%= flash[:alert_class] %>" role="alert">
                <%= flash[:now].html_safe %>
              </div>
            <% end %> 
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
